/* CSS for the product cards */
.product-card {
  display: inline-block;
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.product-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.product-name {
  font-weight: bold;
  margin-top: 5px;
}

.product-description {
  display: none;
}

.product-card:hover .product-description {
  display: block;
}

/* Additional CSS styles for the containers */
#containerClothing,
#containerAccessories,
#containerShoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

#cart-message {
  display: none;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 999;
}

#cart-message.show {
  display: block;
}

.heart-icon {
  margin-left: 5rem;
}

.heart-icon {
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}
