body {
  font-family: "Lato", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  padding: 5rem 13rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 20rem;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-select {
  position: relative;
}

.custom-select select {
  width: 21rem;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none; /* Hide default arrow */
}

.custom-select::after {
  content: "\25BC"; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  pointer-events: none; /* Prevent click on the pseudo-element */
}

.custom-select select:focus {
  outline: none;
  border-color: #0056b3;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
}

button:hover {
  background-color: #0056b3;
}

a {
  text-decoration: none;
  color: black;
}
